$bur-grey: #F2F0EC;
$dd-grey: #514C47;
$black: #100F0E;
$d-grey: #817F7D;
$grey: #BCBAB7;
$orange: #F8A90F;
$l-grey: #FBFAF9;
$green: #2BC25E;
$light: #FBFAF9;
$lightest: #DCDDE3;
$green2: #23A850;
$or2: #E39C10;